In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
# creating initial dataframe
bridge_types = ('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
bridge_df = pd.DataFrame(bridge_types, columns=['Bridge_Types'])
# creating instance of labelencoder
labelencoder = LabelEncoder()
# Assigning numerical values and storing in another column
bridge_df['Bridge_Types_Cat'] = labelencoder.fit_transform(bridge_df['Bridge_Types'])
bridge_df

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(bridge_df[['Bridge_Types_Cat']]).toarray())
# merge with main df bridge_df on key values
bridge_df = bridge_df.join(enc_df)
bridge_df

NameError: name 'bridge_df' is not defined

In [10]:
import pandas as pd
import numpy as np
# creating initial dataframe
bridge_types = ('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
bridge_df = pd.DataFrame(bridge_types, columns=['Bridge_Types'])
# generate binary values using get_dummies
dum_df = pd.get_dummies(bridge_df, columns=["Bridge_Types"], prefix=["Type_is"] )
# merge with main df bridge_df on key values
bridge_df = bridge_df.join(dum_df)
bridge_df

,Bridge_Types,Type_is_Arch,Type_is_Beam,Type_is_Cable,Type_is_Cantilever,Type_is_Suspension,Type_is_Tied Arch,Type_is_Truss
0,Arch,1,0,0,0,0,0,0
1,Beam,0,1,0,0,0,0,0
2,Truss,0,0,0,0,0,0,1
3,Cantilever,0,0,0,1,0,0,0
4,Tied Arch,0,0,0,0,0,1,0
5,Suspension,0,0,0,0,1,0,0
6,Cable,0,0,1,0,0,0,0

In [12]:
import pandas as pd
countries = ["Germany","India","UK","Egypt","Iran"]
continents = ["Europe","Asia","Europe","Africa","Asia"]
code = ["G","I","U","E","N"]
d={"country": countries, "continent":continents, "code":code}
df = pd.DataFrame(d)
df['code'] = df.code.astype('category')
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["labeled_continent"] = le.fit_transform(df["continent"])
df

   country continent code  labeled_continent
0  Germany    Europe    G                  2
1    India      Asia    I                  1
2       UK    Europe    U                  2
3    Egypt    Africa    E                  0
4     Iran      Asia    N                  1

In [13]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
df3 = pd.DataFrame(ohe.fit_transform(df[["continent"]]).toarray())
df_new=pd.concat([df,df3],axis=1)
df_new

   country continent code  labeled_continent    0    1    2
0  Germany    Europe    G                  2  0.0  0.0  1.0
1    India      Asia    I                  1  0.0  1.0  0.0
2       UK    Europe    U                  2  0.0  0.0  1.0
3    Egypt    Africa    E                  0  1.0  0.0  0.0
4     Iran      Asia    N                  1  0.0  1.0  0.0

In [14]:
df2=pd.get_dummies(df[["continent"]])
df_new=pd.concat([df,df2],axis=1)
df_new

,country,continent,code,labeled_continent,continent_Africa,continent_Asia,continent_Europe
0,Germany,Europe,G,2,0,0,1
1,India,Asia,I,1,0,1,0
2,UK,Europe,U,2,0,0,1
3,Egypt,Africa,E,0,1,0,0
4,Iran,Asia,N,1,0,1,0